@font-face {
  font-family: 'DosisRegular';
  src: url('/fonts/Dosis-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DosisBold';
  src: url('/fonts/Dosis-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}