---
---

<html>
  <head>
    <title>Faith Morante - Software Engineer</title>
    <link
      rel="preload"
      as="font"
      href="/fonts/Dosis-Regular.ttf"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      as="font"
      href="/fonts/Dosis-Bold.ttf"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  body {
    margin: 0;
  }
</style>
